:root {
	--black-color: #131313;
	--black-medium-color: #222222;
	--white-color: #FFFFFF;
	--yellow-color: #F5C618;
	--yellow-dark-color: #FDBD18;
}

html,
body {
	font-family: 'Outfit', sans-serif;
}

.input:focus,
.textarea:focus {
	border-color: #F5C618;
    -webkit-box-shadow: 0 0 0 0.125em #F5C618;
    box-shadow: 0 0 0 0.125em #F5C618;
}